.sum{
 background-color: lightgreen;
 border-radius : 10px;
 margin : 10px;
 color: yellow;
 padding: 10px;
}

.sum > input{
    background-color: lightseagreen;
}
.sum > button {
    background-color: red;
    
}
.header-main{
    color: blue;
    margin-left: 37%;
    border: 1px solid;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    width: 465px;
  
}
.header{
    color:blueviolet;
  
}